body{
    background-image: url(Match\ Results.png);
    background-size: cover;
    font-family: geologica, sans-serif;
    text-align: center;
}
h1{
    font-size: 50px;
    color: white;
    margin-top: 15dvh;
}
#result, #score {
    margin-top: 20px;
    font-weight: bold;
    box-sizing: border-box;
    margin-left: 40vw;
    margin-right: 40vw;
    background-color: black;
    color: white;
    margin-bottom: 20px;
}

.score-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}
button {
    margin-top: 10px ;
    padding: 10px 20px;
    background-color: #060057;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    font-family: geologica, sans-serif;
}

button:hover {
    background-color: #ffe36b;
    color: #060057;
    
}