<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier Simulator</title>
    <link rel="stylesheet" href="{{url_for('cashierSim.static',filename='cashierHomeStyle.css')}}">
</head>
<body>
    <div class="left">CASHIER SIMULATOR</div>
    <div class="right">
        <a href="{{url_for('cashierSim.cashier_instructions')}}" class="button">How to play?</a>
    </div>
    <div class="container">
      <a
        href="{{ url_for('cashierSim.cashier_game') }}"
        class="rainbow-button"
        style="text-decoration: none; color: white; font-family: geologica"
      >
        Start The Game!
      </a>
    </div>
</body>
</html>