<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CASHIER SIMULATOR</title>
    <link
      rel="stylesheet"
      href="{{url_for('cashierSim.static', filename='cashierEndGameStyle.css')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Carme&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Geologica:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+PL:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="left">
        <p>Game Over</p>
      </div>
      <div class="right">
        <a href="{{url_for('home')}}" class="button">Back to Menu</a>
        <a href="{{url_for('cashierSim.cashier_game')}}" class="button"
          >Play Again</a
        >
      </div>
    </div>
    <div class="results">
      <p>Customers served: {{customers}}</p>
      <p>Accuracy: {{accuracy}}</p>
      <p>Average Speed: {{avg_speed}}</p>
    </div>
  </body>
</html>
