<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scorecard - Case-Based Study of Maths</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{url_for('caseStudy.static',filename='caseStudyResultsStyle.css')}}">
</head>

    <div class="container">
        <div class="scorecard">
            <h1>Your Scorecard</h1>
            <p id="scoreText"></p>
            <button class="back-button" onclick="window.location.href='{{url_for(caseStudy.home)}}'">Back to Play</button>
        </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const score = urlParams.get('score');

        const scoreText = document.getElementById("scoreText");
        scoreText.innerHTML = `You scored ${score} out of 3!`;
    </script>
</body>

</html>