<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('cashierSim.static',filename='cashierInstructionsStyle.css')}}">
    <title>How To Play?</title>
</head>
<body>
    <h1>How to Play?</h1>

    <div>
        <p>Start by clicking the 'Billing' button on our cashier machine</p>
        <img src="{{ url_for('cashierSim.static', filename='images/machine.jpg') }}">  
    </div>

    <div>
        <p>Then we can see a list of items and their prices, calculate the total and enter it in the white box. After that click enter</p>
        <img src="{{ url_for('cashierSim.static', filename='images/payment.jpg') }}">
        <p>Correct input in total makes the Enter box green and the customer gives us some amount of Money.</p>
        <img src="{{ url_for('cashierSim.static', filename='images/failedpayment.jpg') }}">
        <p>Incorrect input in total makes the Enter box red, re-enter the correct amount to proceed!</p>
    </div>

    <div>
        <p>Click on the images to give that amount of remainder cash return </p>
        <img src="{{ url_for('cashierSim.static', filename='images/cash.jpg') }}">
    </div>

    <div>
        <p>Click Billing again to generate a ticket.</p>
        <img src="{{ url_for('cashierSim.static', filename='images/greenticket.jpg') }}">
        <p>If correct amount of remainder sum was given u generate a green ticket</p>
        <img src="{{ url_for('cashierSim.static', filename='images/redticket.jpg') }}">
        <p>If incorrect amount of remainder sum was given u generate a red ticket and have to re-do everything</p>
    </div>

    <div>
        <p>The game ends in 5 minutes, and is visible in the form of the green time bar on left. Once the bar is all red, GAME OVER!</p>
        <img src="{{ url_for('cashierSim.static', filename='images/timer.jpg') }}">
    </div>

</body>
</html>