<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boxed Menu with Gradient Effects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='homestyle.css') }}" />
</head>

<body>
    <div class="header">
        <div class="user-info">
            <p>Name: {{ name }}</p>
            <p>Roll No: {{ roll_number }}</p>
            <p>School: {{ school }}</p>
        </div>
    </div>
    
    <div class="menu-container">
        <ul class="menu">
            <li><a href="{{ url_for('cashierSim.cashier_home') }}">Cashier Simulator</a></li>

            <li><a href="{{ url_for('flashCards.loading')}}">Memory Cards</a></li>

            <li><a href="{{ url_for('fractionGame.loading') }}">Fraction Fields</a></li>

            <li><a href="{{ url_for('pictographGame.loading') }}">Pictograph</a></li>

            <li><a href="{{ url_for('directionGame.loading') }}">Direction Sense Test</a></li>
            
            <li><a href="{{ url_for('clockGame.loading') }}">Samay Sudhaar</a></li>

            <li><a href="{{ url_for('casestudyGame.loading') }}">Case Study Game</a></li>

            <li><a href="{{ url_for('MatchGame.home') }}">Match Game</a></li>
        </ul>
    </div>
</body>
</html>
