* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url(images/Cashier.png);
    background-size: cover;
}
.left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
}
.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.button {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #0056b3;
}