body {
    font-family: geologica;
    padding-left: 55dvh;
    padding-top: 5dvh;
    background-image: url(images/flashCardsGameBG.png);
    background-size: cover;
    background-attachment: fixed;

}

.card {
    width: 100px;
    height: 150px;
    margin: 5px;
    perspective: 1000px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front {
    background-image: url(images/backOfCard.png);
    background-size: contain;
    border-radius: 5px;
    border: 2px solid #ffffff;
}

.card-back {
    background-color: #ffe36b;
    transform: rotateY(180deg);
    border-radius: 5px;
    border: 1px solid #000;
}

.hidden {
    visibility: hidden;
}

.emoji {
    font-size: 30px;
    border-radius: 50%;
}

.correct {
    background: green !important;
}

.incorrect {
    background: red !important;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    width: 40%;
    margin: 20px auto;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 8px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: geologica;
    width: 20%;
    margin-left: 54dvh;
}
button:hover {
    background-color: #0056b3;
}

@media (max-width: 1024px) {
    body {
        background-color: #0056b3;
        width: 100dvh;
        background-image: url(images/rename.png);
    }
    .game-board {
        grid-template-columns: repeat(6, 1fr);
    }
    .card {
        width: 60px;
        height: 90px;
        font-size: x-small;
    }
}

@media (max-width: 768px) {
    body {
        background-color: #0056b3;
    }
    .game-board {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 480px) {
    .game-board {
        grid-template-columns: 1fr; 
    }
}