<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/signupstyle.css">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form method="POST">
            <label>Name:</label>
            <input type="text" name="name" required>
            <label>Roll Number:</label>
            <input type="text" name="roll_number" required>
            <label>School Name:</label>
            <input type="text" name="school_name" required>
            <label>Email:</label>
            <input type="email" name="email" required>
            <label>Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Register</button>
            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}
        </form>
        <p>Already have an account? <a href="{{ url_for('login')}}">Login</a></p>
    </div>
</body>
</html>
