/* General body styling */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    background-image: url('Triangles.jpg');
    background-size: cover;
<<<<<<< Updated upstream
=======
    /* background-position: center; */
    background-repeat: no-repeat; /* Ensure the image does not repeat */
>>>>>>> Stashed changes
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main title styling */
h1 {
    color: #333;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
}

/* Subtitle styling */
h2 {
    margin-top: 0;
    color: #4e7878;
}

/* Game container styling */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 280px;
    padding: 20px;
    background-color: rgba(212, 193, 193, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Question container styling */
.question {
    display: none;
    justify-content: center;
    margin-bottom: 20px;
}

/* Active question styling */
.question.active {
    display: flex;
}

/* Column styling */
.column {
    margin: 0 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Item and dropzone styling */
.item, .dropzone {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

/* Item hover effect */
.item:hover {
    background-color: #f1f1f1;
}

/* Dragging item effect */
.item.dragging {
    opacity: 0.5;
}

/* Dropzone styling */
.dropzone {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button styling */
.button {
    margin-top: 5px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 20px;
}

/* Index and result button styling */
.index-button, .result-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 20px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
}

/* Container styling for menu, instructions, and score */
.menu-container, .instructions-container, .score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Result and score display styling */
#result, #score {
    margin: 20px 40vw;
    font-weight: bold;
    background-color: black;
    color: white;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .game-container {
        margin: 10px 20px;
        padding: 10px;
    }

    .column {
        margin: 10px 0;
        padding: 10px;
    }

    #result, #score {
        margin: 10px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 24px;
        padding: 5px;
    }

    h2 {
        font-size: 18px;
        margin-top: 20px;
    }

    .game-container {
        margin-top: 20px;
        padding: 10px;
    }

    .question {
        flex-direction: column;
    }

    .column {
        margin: 5px 0;
        padding: 5px;
    }

    .column:nth-child(2) {
        margin-bottom: 20px;
    }

    .item, .dropzone {
        padding: 5px;
        margin-bottom: 5px;
    }

    #submit, .next, .reset {
        padding: 5px 10px;
        font-size: 14px;
    }

    #result, #score {
        margin: 5px;
        font-size: 14px;
    }

    .next, .reset {
        position: relative;
        margin: 5px auto;
        display: block;
    }

    .next {
        margin-bottom: 10px;
    }
}