<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CASHIER SIMULATOR</title>
    <link rel="stylesheet" href="{{url_for('cashierSim.static', filename='cashierEndGameStyle.css')}}">
</head>
<body>
    <div class="container">
        <div class="left">
            <p>Game Over</p>
        </div>
        <div class="right">
            <a href="{{url_for('home')}}" class="button">Back to Menu</a>
            <a href="{{url_for('cashierSim.cashier_game')}}" class="button">Play Again</a>
        </div>
    </div>
    <div class="results">
        <h2>Game History</h2>
        {% if results %}
            <ul>
                {% for result in results %}
                    <li>
                        <p>Customers served: {{ result.customers }}</p>
                        <p>Accuracy: {{ result.accuracy }}%</p>
                        <p>Average Speed: {{ result.avg_speed }} seconds</p>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No game history found.</p>
        {% endif %}
    </div>
</body>
</html>