body {
    font-family: 'Geologica', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(images/resultsBG.png);
    background-size: cover;
}

.container {
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    margin-top: -20px;
    margin-left: 59dvh;
}

.results-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #060057;
}

.results-table {
    width: 40%;
    margin: 24px auto;
    border-collapse: collapse;
    margin-top: -10px;
}

.results-table th,
.results-table td {
    border: 1px solid #060057;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.results-table th {
    background-color: #ffe36b;
    color: #060057;
}

.correct {
    background-color: #d4edda;
    color: #155724;
}

.incorrect {
    background-color: #f8d7da;
    color: #721c24;
}

.button {
    margin: -5px 5px;
    padding: 10px 20px;
    background-color: #060057;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background-color: #ffe36b;
    color: #060057;
}

.button a {
    color: inherit;
    text-decoration: none;
}